#!/bin/bash
set -eux

printf "network:
  version: 2
  renderer: networkd
  ethernets:
    enp7s0:
      dhcp4: true" > /etc/netplan/60-private-network.yaml

netplan generate
netplan apply


until curl -ksf "https://${localip-control-plane}:6443/ping"; do sleep 5; done
NODE_IP=${localip}
curl -sfL https://get.k3s.io | \
  K3S_URL="https://${localip-control-plane}:6443" \
  K3S_TOKEN="${token}" \
  INSTALL_K3S_EXEC="agent --node-ip $NODE_IP --node-label node-role=worker" sh -